.right-contents
  %section.user-info
    .user-info__contents
      = link_to '#' do
        %figure
          = image_tag '//static.mercdn.net/thumb/members/394621039.jpg?1579745078', width: '60', height:'60',alt:''
        %p
          tttt
  %section.user-todo
    .tab-todo
      やることリスト
    .tab-content
      %ul.todo-lists
        %li
          .list-item
            ○○日までに、発送
          %i.fas.fa-angle-right
        %li
          .list-item
            ○○日までに、発送
          %i.fas.fa-angle-right
  %section.buy-product
    %h2.buy-product__head
      購入したもの
    .tab-buy
      取引中
    .tab-content
      %ul.buy-lists
        %li
          .list-item
            レディース、Tシャツ(S)
          %i.fas.fa-angle-right
          -# %aside.appBanner__top
-#   .inner
-#     %h2.inner__title
-#       誰でも簡単、人生を変えるフリマアプリ
-#     %p.inner__text
-#       今すぐ無料ダウンロード
-#     .inner__icon
-#       .app-btn
-#         = link_to '#' do
-#           %a
-#             = image_tag src="/app-store.svg",class:"btn"
-#       .google-btn
-#         = link_to '#' do
-#           %a
-#             = image_tag src="/google-play.svg",class:"btn"

-# .footer
-#   =render 'items/top_page_footer'