.wrapper
  .app_banner__banner
    %section.app_banner__banner__image
    .app_banner__banner__inner
      %h2.app_banner__banner__inner--title
        だれでも簡単、人生を変えるフリマアプリ
      %p.app_banner__banner__inner--text
        今すぐ無料ダウンロード
      .app_banner__banner__inner--icon
        = link_to "#", class: "app_banner__banner__inner--icon" do
          = image_tag 'bag_app.png',class: "appBtn"
        = link_to "#", class: "app_banner__banner__inner--icon" do
          = image_tag 'ja_badge_web_generic.png',class: "googleBtn"
