%header
  .users-header
  .serch-pcheader
    .headerInner
      .mainHeader
        .icon
          %a{ href: '/'}
            %img{src:'/assets/furima.png'}
        .searchBox
          %form.form{ action: '/items/search', "accept-charset": 'UTF-8', method: 'get'}
            %input{name: 'utf8', type: 'hidden', value:'✔︎'}
            %input.searchBox-input{placeholder: 'キーワードから探す', type: 'text', name: 'keyword', id: 'keyword'}
              -# = form_tag(search_path,:method => 'get') do
              -#   = text_field_tag :search
              -#   = submit_tag 'Search', :name => nil
            %button.search-btn{ name: 'button', type: 'submit'}
              %i.fas.fa-search
      .nav
        %ul.left-items
          %li.left-item1
            %a.category-btn{href:''}
              カテゴリー
            %ul
              %li
                %a{href:''}
                  レディース
                %ul
                  %li
                    %a{href:''}
                      トップス
                    %ul
                      %li
                        %a{href:''}
                          Tシャツ/カットソー(半袖/袖なし)
                      %li
                        %a{href:''}
                          Tシャツ/カットソー(七分/長袖)
                      %li
                        %a{href:''}
                          シャツ/ブラウス(半袖/袖なし)
                      %li
                        %a{href:''}
                          シャツ/ブラウス(七分/長袖)
                      %li
                        %a{href:''}
                          ポロシャツ
                      %li
                        %a{href:''}
                          キャミソール
                      %li
                        %a{href:''}
                          タンクトップ
                      %li
                        %a{href:''}
                          ホルターネック
                      %li
                        %a{href:''}
                          ニット/セーター
                      %li
                        %a{href:''}
                          チュニック
                      %li
                        %a{href:''}
                          カーティガン/ボレロ
                      %li
                        %a{href:''}
                          アンサブル
                      %li
                        %a{href:''}
                          ベスト/ジレ
                      %li
                        %a{href:''}
                          パーカー
                      %li
                        %a{href:''}
                          トレーナー/スウェット
                      %li
                        %a{href:''}
                          ベアトップ/チューブトップ
                      %li
                        %a{href:''}
                          ジャージ
                      %li
                        %a{href:''}
                          その他
                  %li
                    %a{href:''}
                      ジャケット/アウター
                    %ul
                      %li
                        %a{href:''}
                          テーラードジャケット
                      %li
                        %a{href:''}
                          ノーカラージャケット
                      %li
                        %a{href:''}
                          Gジャン/デニム
                      %li
                        %a{href:''}
                          レザージャケット
                      %li
                        %a{href:''}
                          ダウンジャケット
                      %li
                        %a{href:''}
                          ライダースジャケット
                      %li
                        %a{href:''}
                          ミリタリージャケット
                      %li
                        %a{href:''}
                          ダウンベスト
                      %li
                        %a{href:''}
                          ジャンバー/ブルゾン
                      %li
                        %a{href:''}
                          ポンチョ
                      %li
                        %a{href:''}
                          ロングコート
                      %li
                        %a{href:''}
                          トレンチコート
                      %li
                        %a{href:''}
                          ダッフルコート
                      %li
                        %a{href:''}
                          ビーコート
                      %li
                        %a{href:''}
                          チェスターコート
                      %li
                        %a{href:''}
                          モッズコート
                      %li
                        %a{href:''}
                          スタジャン
                      %li
                        %a{href:''}
                          毛皮/ファーコート
                      %li
                        %a{href:''}
                          スプリングコート
                      %li
                        %a{href:''}
                          スカジャン
                      %li
                        %a{href:''}
                          その他
                  %li
                    %a{href: ''}
                      パンツ
                    %ul
                      %li
                        %a{href:''}
                          デニム/ジーンズ
                      %li
                        %a{href:''}
                          ショートパンツ
                      %li
                        %a{href:''}
                          カジュアルパンツ
                      %li
                        %a{href:''}
                          ハーフパンツ
                      %li
                        %a{href:''}
                          チノパン
                      %li
                        %a{href:''}
                          ワークパンツ/カーゴパンツ
                      %li
                        %a{href:''}
                          クロップパンツ
                      %li
                        %a{href:''}
                          サロペット/オーバーオール
                      %li
                        %a{href:''}
                          オールインワン
                      %li
                        %a{href:''}
                          サルエルパンツ
                      %li
                        %a{href:''}
                          ガウチョパンツ
                      %li
                        %a{href:''}
                          その他
                  %li
                    %a{href:''}
                      スカート
                    %ul
                      %li
                        %a{href:''}
                          ミニスカート
                      %li
                        %a{href:''}
                          膝丈スカート
                      %li
                        %a{href:''}
                          ロングスカート
                      %li
                        %a{href:''}
                          キュロット
                      %li
                        %a{href:''}
                          その他
                  %li 
                    %a{href:''}
                      ワンピース
                    %ul       
                      %li
                        %a{href:''}
                          ミニワンピ
                      %li
                        %a{href:''}
                          膝丈ワンピ
                      %li
                        %a{href:''}
                          ロングワンピ
                      %li
                        %a{href:''}
                          その他
                  %li
                    %a{href:''}
                      靴
                    %ul
                      %li
                        %a{href:''}
                          ハイヒール
                      %li
                        %a{href:''}
                          ブーツ
                      %li
                        %a{href:''}
                          サンダル
                      %li
                        %a{href:''}
                          スニーカー
                      %li
                        %a{href:''}
                          ミュール
                      %li
                        %a{href:''}
                          モカシン
                      %li
                        %a{href:''}
                          ローファー/革靴
                      %li
                        %a{href:''}
                          フラッシュシューズ/バレエシューズ
                      %li
                        %a{href:''}
                          その他
                  %li
                    %a{href:''}
                      ルームウェア/パジャマ
                    %ul
                      %li
                        %a{href:''}
                          ルームウェア
                      %li
                        %a{href:''}
                          パジャマ
                      %li
                        %a{href:''}
                          その他
                  %li
                    %a{href:''}
                      レッグウェア
                    %ul
                      %li
                        %a{href:''}
                          ソックス
                      %li
                        %a{href:''}
                          スパッツ/レギンス
                      %li
                        %a{href:''}
                          ストッキング/タイツ
                      %li
                        %a{href:''}
                          レッグウォーマー
                      %li
                        %a{href:''}
                          その他
                  %li
                    %a{href:''}
                      帽子
                    %ul
                      %li
                        %a{href:''}
                          ニットキャップ/ビーニー
                      %li
                        %a{href:''}
                          ハット
                      %li
                        %a{href:''}
                          ハンチング/ベレー帽
                      %li
                        %a{href:''}
                          キャップ
                      %li
                        %a{href:''}
                          キャスケット
                      %li
                        %a{href:''}
                          麦わら帽子
                      %li
                        %a{href:''}
                          その他
                  %li
                    %a{href:''}
                      バッグ
                    %ul
                      %li
                        %a{href:''}
                          ハンドバッグ
                      %li
                        %a{href:''}
                          トートバッグ
                      %li
                        %a{href:''}
                          エコバッグ
                      %li
                        %a{href:''}
                          リュック/バックパック
                      %li
                        %a{href:''}
                          ボストンバッグ
                      %li
                        %a{href:''}
                          スポーツバック
                      %li
                        %a{href:''}
                          ショルダーバッグ
                      %li
                        %a{href:''}
                          クラッチバッグ
                      %li
                        %a{href:''}
                          ポーチ/バニティ
                      %li
                        %a{href:''}
                          ボディバッグ/ウエストバッグ
                      %li
                        %a{href:''}
                          マザーズバッグ
                      %li
                        %a{href:''}
                          メッセンジャーバッグ
                      %li
                        %a{href:''}
                          ビジネスバック
                      %li
                        %a{href:''}
                          旅行用バック旅行用バック/キャリーバック
                      %li
                        %a{href:''}
                          ショップ袋
                      %li
                        %a{href:''}
                          和装用バッグ
                      %li
                        %a{href:''}
                          カゴバック
                      %li
                        %a{href:''}
                          その他
                  %li
                    %a{href:''}
                      アクセサリー
                    %ul
                      %li
                        %a{href:''}
                          ネックレス
                      %li
                        %a{href:''}
                          ブレスレット
                      %li
                        %a{href:''}
                          バングル/リストバンド
                      %li
                        %a{href:''}
                          リング
                      %li
                        %a{href:''}
                          ピアス(片耳用)
                      %li
                        %a{href:''}
                          ピアス(両耳用)
                      %li
                        %a{href:''}
                          イヤリング
                      %li
                        %a{href:''}
                          アンクレット
                      %li
                        %a{href:''}
                          ブローチ/コサージュ
                      %li
                        %a{href:''}
                          チャーム
                      %li
                        %a{href:''}
                          その他
                  %li
                    %a{href:''}
                      ヘアアクセサリー
                  %ul
                    %li
                      %a{href:''}
                        ヘアゴム/シュシュ
                    %li
                      %a{href:''}
                        ヘアバンド/カチューシャ
                    %li
                      %a{href:''}
                        ヘアピン
                    %li
                      %a{href:''}
                        その他
                  %li
                    %a{href:''}
                      小物
                    %ul
                      %li
                        %a{href:''}
                          長財布
                      %li
                        %a{href:''}
                          折り財布
                      %li
                        %a{href:''}
                          コインケース/小銭入れ
                      %li
                        %a{href:''}
                          名刺入れ/定期入れ
                      %li
                        %a{href:''}
                          キーケース
                      %li
                        %a{href:''}
                          キーホルダー
                      %li
                        %a{href:''}
                          手袋/アームカバー
                      %li
                        %a{href:''}
                          ハンカチ
                      %li
                        %a{href:''}
                          マフラー/ショール
                      %li
                        %a{href:''}
                          ストール/スヌード
                      %li
                        %a{href:''}
                          バンダナ/スカーフ
                      %li
                        %a{href:''}
                          ネックウォーマー
                      %li
                        %a{href:''}
                          サスペンダー
                      %li
                        %a{href:''}
                          サングラス/メガネ
                      %li
                        %a{href:''}
                          モバイルケース/カバー
                      %li
                        %a{href:''}
                          手帳
                      %li
                        %a{href:''}
                          イヤーマフ
                      %li
                        %a{href:''}
                          傘
                      %li
                        %a{href:''}
                          レインコート
                      %li
                        %a{href:''}
                          ミラー
                      %li
                        %a{href:''}
                          タバコグッズ
                      %li
                        %a{href:''}
                          その他
                  %li
                    %a{href:''}
                      時計
                    %ul
                      %li
                        %a{href:''}
                          腕時計（アナログ）
                      %li
                        %a{href:''}
                          腕時計（デジタル）
                      %li
                        %a{href:''}
                          ラバーベルト
                      %li
                        %a{href:''}
                          レザーベルト
                      %li
                        %a{href:''}
                          金属ベルト
                      %li
                        %a{href:''}
                          その他
                  %li
                    %a{href:''}
                      ウイッグ/エクステ
                    %ul
                      %li
                        %a{href:''}
                          前髪ウィッグ
                      %li
                        %a{href:''}
                          ロングストレート
                      %li
                        %a{href:''}
                          ロングカール
                      %li
                        %a{href:''}
                          ショートストレート
                      %li
                        %a{href:''}
                          ショートカール
                      %li
                        %a{href:''}
                          その他
                  %li
                    %a{href: ''}
                      浴衣/水着
                    %ul
                      %li
                        %a{href:''}
                          浴衣
                      %li
                        %a{href:''}
                          着物
                      %li
                        %a{href:''}
                          振袖
                      %li
                        %a{href:''}
                          水着セパレート
                      %li
                        %a{href:''}
                          水着ワンピース
                      %li
                        %a{href:''}
                          水着スポーツ
                      %li
                        %a{href:''}
                          その他
                  %li
                    %a{href: ''}
                      スーツ/フォーマル/ドレス
                    %ul
                      %li
                        %a{href:''}
                          スカートスーツ上下
                      %li
                        %a{href:''}
                          パンツスーツ上下
                      %li
                        %a{href:''}
                          ドレス
                      %li
                        %a{href:''}
                          パーティーシューズ
                      %li
                        %a{href:''}
                          シューズ
                      %li
                        %a{href:''}
                          その他
                  %li
                    %a{href: ''}
                      マタニティ
                    %ul
                      %li
                        %a{href:''}
                          トップス
                      %li
                        %a{href:''}
                          アウター
                      %li
                        %a{href:''}
                          インナー
                      %li
                        %a{href:''}
                          ワンピース
                      %li
                        %a{href:''}
                          パンツ/スパッツ
                      %li
                        %a{href:''}
                          スカート
                      %li
                        %a{href:''}
                          パジャマ
                      %li
                        %a{href:''}
                          授乳服
                      %li
                        %a{href:''}
                          その他
                  %li
                    %a{href:''}
                      その他
                    %ul
                      %li
                        %a{href:''}
                          コスプレ
                      %li
                        %a{href:''}
                          下着
                      %li
                        %a{href:''}
                          その他
                      %li
                        %a{href:''}
                          ショートカール
            %ul
              %li
                %a{href:''}
                  メンズ
                %ul
                  %li
                    %a{href:''}
                      トップス
                    %ul
                      %li
                        %a{href:''}
                          Tシャツ/カットソー(半袖/袖なし)          
            %ul
              %li
                %a{href:''}
                  ベビーキッズ
                %ul
                  %li
                    %a{href:''}
                      べビー服（女の子用）
                    %ul
                      %li
                        %a{href:''}
                          トップス         
            %ul
              %li
                %a{href:''}
                  インテリア・住まい・小物
                %ul
                  %li
                    %a{href:''}
                      キッチン食器
                    %ul
                      %li
                        %a{href:''}
                          食器          
            %ul
              %li
                %a{href:''}
                  本・音楽・ゲーム
                %ul
                  %li
                    %a{href:''}
                      本
                    %ul
                      %li
                        %a{href:''}
                          文学/小説          
            %ul
              %li
                %a{href:''}
                  おもちゃ・ホビー・グッズ
                %ul
                  %li
                    %a{href:''}
                      おもちゃ
                    %ul
                      %li
                        %a{href:''}
                          キャラクターキャラクターグッズ         
            %ul
              %li
                %a{href:''}
                  家電・スマホ・カメラ
                %ul
                  %li
                    %a{href:''}
                      スマートフォン/携帯電話
                    %ul
                      %li
                        %a{href:''}
                          スマートフォン      
            %ul
              %li
                %a{href:''}
                  スポーツ・レジャー
                %ul
                  %li
                    %a{href:''}
                      ゴルフ
                    %ul
                      %li
                        %a{href:''}
                          クラブ  
            %ul
              %li
                %a{href:''}
                  ハンドメイド
                %ul
                  %li
                    %a{href:''}
                      アクセサリー（女性用）
                    %ul
                      %li
                        %a{href:''}
                          ピアス      
            %ul
              %li
                %a{href:''}
                  自動車・オートバイ
                %ul
                  %li
                    %a{href:''}
                      自動車本体
                    %ul
                      %li
                        %a{href:''}
                          国内自動車本体     
            %ul
              %li
                %a{href:''}
                  その他
                %ul
                  %li
                    %a{href:''}
                      まとめ売り
                    %li
                      %a{ href:''}
                        ペット用品
                      %ul
                        %li
                          %a{href:''}
                            ペットフード
          .left-item2
            %a{href:'#'}
              ブランド
        %ul.right-items
          %li.right-item3
            %a{href:'users.98'}
              マイページ
  %nav.bread-crumbs
    %ul
      -# %li
      -#   %a{href:'/'}
      -#     furima
      -#   %i.fa.fa-angle-right
      %li
        .breadcrumbs
          -# config/breadcrumbs.rbに定義したmypageを呼び出し
          - breadcrumb :mypage
          -# 下記を記述した箇所にパンくずリストが表示される。
          = breadcrumbs pretext: "You are here:",separator: " &rsaquo; "