.title {
  background-color: #f8f8f8;
  height: 100px;
  width: 100%;
  padding-top: 10px;
  &__contents{
    height: 80px;
    width: 700px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 5px auto;
    text-align: center;
    line-height: 80px;
  }
}

.main-form {
  background-color: #f8f8f8;
  &__frame {
    height: 800px;
    width: 700px;
    background-color: white;
    margin: 0 auto;
    .form-group {
      width: 350px;
      margin: 0 auto;
      padding: 10px 0;
      &__require {
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        font-size: 12px;
        background-color: red;
        color: white;
      }
      input {
        height: 48px;
        width: 350px;
        border-radius: 5px;
        padding: 10px 18px 8px;
        margin: 10px auto;
        border: 1px solid #ccc;
        background-color: #fff;
        font-size: 16px;
      }
      ul {
        display: flex;
        justify-content: center;
        li {
          padding: 0 4px;
        }
      }
      label {
        font-weight: bold;
      }
      .btn--red {
        margin-top: 10px;
        background-color: red;
        color: white;
        height: 50px;
        width: 350px;
        border: 1px solid #ccc;
      }
    }
    .form-group label{
      font-weight: bold;
    }
    .form-group__input__one {
      background-color: #fff;
      width: 48px;
      height: 30px;
      border: 1px solod #ccc;
      border-radius: 5px;
      color: #807c7c;
      margin-top: 10px;
    }
    .form-group__add{
      width: 350px;
      margin: 0 auto;
      color: #3ccace;
      text-align: right;
      p {
        display: inline;
      }
    }
    .form-group__add__question {
      display: inline;
      border-radius: 10px;
      line-height: 20px;
      text-align: center;
      padding: 3px 6px;
      background-color: #3ccace;
      color: white;
    }
  }
}