.wrapper{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.top_page_main {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

  .main-visual{
    width: 100%;
    height: 560px;
    background-image: url(/bg-mainVisual-pict_pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    .main-visual__content{
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      padding: 35px 0 0 0;
      line-height: 1.2;
      .main-visual__content__subtitle{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        color: #ffffff;
      }
      .main-visual__content__text{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        color: #ffffff;
        font-size: 18px;
        line-height: 1.77;
        margin-top: 16px;
      }
      .main-visual__content__btn{
        display: flex;
        margin-top: 24px;
        .app-btn{
          width: 180px;
          margin-right: 20px;
          .btn{
            width: 180px;
          }
        }
        .google-btn{
          width: 180px;
          margin-right: 20px;
          .btn{
            width: 180px;
          }
        }
      }
    }
  }

  .topIntroduction{
    padding: 60px 20px;
    .subtitle{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .lists{
      text-align: center;
      display: flex;
      width: 100%;
      max-width: 1020px;
      margin: 0 auto;
      .list1{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        align-items: center;
        flex-direction: column;
        .list__pict{
          position: relative;
          margin-bottom: 20px;
          .number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: khaki;
            color: #ffffff;
          }
          .pic{
            width: 100%;
            vertical-align: bottom;
          }
        }
        .list__text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          .text{
            color: salmon;
          }
        }
        .description{
          font-size: 18px;
          margin-top: 16px;
          line-height: 1.5;
        }
      }
      .list2{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        align-items: center;
        flex-direction: column;
        .list__pict{
          position: relative;
          margin-bottom: 20px;
          .number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: khaki;
            color: #ffffff;
          }
          .pic{
            width: 100%;
            vertical-align: bottom;
          }
        }
        .list__text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          .text{
            color: salmon;
          }
        }
        .description{
          font-size: 18px;
          margin-top: 16px;
          line-height: 1.5;
        }
      }
      .list3{
        width: 30%;
        text-align: left;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 16px 0 0;
        .list__pict{
          position: relative;
          margin-bottom: 20px;
          .number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: khaki;
            color: #ffffff;
          }
          .pic{
            width: 100%;
            vertical-align: bottom;
          }
        }
        .list__text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          .text{
            color: salmon;
          }
        }
        .description{
          font-size: 18px;
          margin-top: 16px;
          line-height: 1.5;
        }
      }
    }
  }

  .topMiddle{
    background-image: url(/bg-topMiddleDl-pict.jpg);
    background-position: bottom right;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    .topMiddle__inner{
      color: #ffffff;
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      .topMiddle__inner__subtitle{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      .topMiddle__inner__text{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      .topMiddle__inner__btn{
        display: flex;
        .app-btn{
          margin-right: 10px;
          .btn{
            width: 180px;
          }
        }
        .google-btn{
          margin-right: 10px;
          .btn{
            width: 180px;
          }
        }
      }
    }
  }

  .topFeatures{
    background-color: #fff;
    padding: 60px 100px;
    .head{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .items{
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      .item{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 20px;
        width: calc(1 / 3 * 100%);
        .item__img{
          width: 70px;
          margin: 0 auto;
          line-height: 120px;
          .icon{
            width: 100%;
            vertical-align: bottom;
          }
        }
        .item__subtitle{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        .item__detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }

  .pickup-category{
    background-color: #f8f8f8;
    padding: 80px 0 0;
    height: 100%;
    padding-bottom: 80px;
    .head{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .productBox{
      .productHead{
        text-align: center;
        a{
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
          .title{
            font-weight: bold;
          }
        }
      }
      .productLists{
        width: 100%;
        margin: 26px auto;
        display: flex;
        overflow-x: scroll;
          .productList{
            width: 220px;
            padding-right: 10px;
            display: inline-flex;
            a{
              background-color: #fff;
              display: inline-block;
              text-decoration: none;
              .ProductList-img{
                width: 220px;
                height: 150px;
                position: relative;
                overflow: hidden;
                margin: 0;
                z-index: auto;
                .image__category{
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  z-index: auto;
                  height: 150px;
                  object-fit: cover;
                }
              }
              .productList-body{
                background-color: white;
                color: #333;
                padding: 16px;
                .product-name{
                  overflow: hidden;
                  line-height: 1.5;
                  font-size: 16px;
                  text-align: left;
                }
                .details{
                  font-size: 16px;
                  ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    i{
                      display: inline-block;
                      font-size: inherit;
                      text-rendering: auto;
                      -webkit-font-smoothing: antialiased;
                    }
                  }
                  p{
                    font-size: 10px;
                    text-align: left;
                  }
                }
              }
            }
        }
      }
    }
  }

  .pickup-brand{
    background-color: #f8f8f8;
    padding: 80px 0 0;
    height: 100%;
    padding-bottom: 80px;
    .head{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .productBox{
      .productHead{
        text-align: center;
        a{
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
          .title{
            font-weight: bold;
          }
        }
      }
      .productLists{
        width: 100%;
        margin: 26px auto;
        display: flex;
        overflow-x: scroll;
        .productList{
          width: 220px;
          padding-right: 10px;
          display: flex;
          a{
            display: inline-block;
            background-color: white;
            text-decoration: none;
            .productList-img{
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              .image__category{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            .produ.productList-body{
              background-color: white;
              color: #333333;
              padding: 16px;
              .product-name{
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              .details{
                font-size: 16px;
                ul{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  li{
                    i{
                      display: inline-block;
                      font-size: inherit;
                      text-rendering: auto;
                      -webkit-font-smoothing: antialiased;
                    }
                  }
                }
                p{
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }

.appBanner__top{
  background-image: url(/bg-appBanner-pict.jpg);
  background-position: center;
  background-size: cover;
  padding: 100px 40px;
  position: relative;
  .inner{
    text-align: center;
    color: #fff;
    .inner__title{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    .inner__text{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    .inner__icon{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      .app-btn{
        width: 180px;
        margin-right: 20px;
        .btn{
          width: 180px;
        }
      }
      .google-btn{
        width: 180px;
        margin-right: 20px;
        .btn{
          width: 180px;
        }
      }
    }
  }
}

.display{
  .purchaseBtn{
    width: 120px;
    background: #3ccace;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    .purchaseBtn__text{
      color: #ffffff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    .purchaseBtn-icon{
      width: 60%;
    }
  }
}