.pickup_brand__containerBrand {
  background-color: #f8f8f8;
  height: 100%;
  padding-bottom: 80px;
  &__title{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  &__item--lists {
    width: 780px;
    margin: 26px auto;
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;
    &__list {
      width: 220px;
      display: inline-block;
      margin: 0 auto;
      height: 100%;
      &__body {
        background-color: white;
        color: black;
        padding: 16px;
      }
    }
  }
}
.pickup_brand__item {
  width: 780px;
  margin: 0 auto;
  overflow-x: scroll;
  &__head {
    text-align: center;
  }
  &__images {
    width: 220px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin: 0;
    z-index: auto;
    &--image {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: auto;
      height: 150px;
      object-fit: cover;
    }
  }
  &--name {
    overflow: hidden;
    line-height: 1.5;
    font-size: 16px;
    text-align: left;
  }
}

.pickup-brand__items__head {
  text-align: center;
  color: #3CCACE;
  font-size: 24px;
  text-decoration: none;
}

.pickup_brand__head {
  font-weight: bold;
  align-items: center;
}

.pickup_brand__details__menu {
  font-size: 16px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pickup_brand__taxIncluded {
  font-size: 10px;
  text-align: left;
}