.log-in_header {
  width: 100vw;
  height: 100px;
  padding-bottom: 50px;
  background-color: white;

  .search-pcheader {
    padding: 0 60px;
  }

  .headerInner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
  }

  .mainHeader {
    background-color: #fff;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    align-items: center;
  }

  .icon {
    margin-right: 30px;
  }

  .searchBox {
    margin-left: 0px;
    padding-top: 5px;
    width: 820px;
    height: 29px;
    display: flex;
    text-align: center;
    border: 1px solid black;
    color: darkgrey;
    border-radius: 2px;
  }

  .searchBtn {
    width: 33px;
    height: 30px;
    padding-top: 8px;
    padding-left: 5px;
    background-color: #3cccae;
    text-align: center;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .nav {
    font-size: 14px;
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .listsleft {
    width: 216px;
    height: 32px;
    margin-left: 10px;
    position: relative;
    display: flex;
  }

  h1 {
    list-style: none;
  }

  h2 {
    list-style: none;
  }

  .listsleft_items1 {
    display: flex;
    line-height: 20px;
    text-decoration: none;
  }

  .listsleft_items2 {
    display: flex;
    line-height: 20px;
    padding: 0 0 0 30px;
    width: 100px;
  }

  .listsright {
    margin-left: auto;
    display: flex;
    height: 2rem;
    justify-items: right;
  }

  .listsright_login {
    display: flex;
    color: #333;
    line-height: 20px;
    padding: 0 0 0 16px;
  }

  .listsright_new {
    display: flex;
    color: #333;
    line-height: 20px;
    padding: 0 0 0 16px;
  }
}