.credit_cards-show {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  padding-top: 27px;
  padding-bottom: 27px;
  &__wrapper { 
    width: 700px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 10px;
    &__content-title {
      height: auto;
      text-align: center;
      line-height: 50px;
      border-bottom: 1px solid #f5f5f5;
      font-size: 24px;
    }
    &__cards-index {
      height: auto;
      padding: 30px 130px 30px 130px;
      &__title {
        margin: auto;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      &__detail {
        display: flex;
        justify-content: space-evenly;
        padding-top: 20px;
        padding-bottom: 20px;
        &__right__delete-button  {
          button {
            font-size: 16px;
            color: red;
            border-radius: 5px;
            border: 1px solid #ea352d;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.app_banner__banner {
  background-color: gray;
  padding: 100px 40px;
  position: relative;
  background-image: image-url("bg-appBanner-pict.jpg");
  background-size: cover;
  background-position: center;
  &__inner {
    text-align: center;
    color: white;
    &--title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &--text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &--icon {
      width: 100%;
      justify-content: center;
      margin: 20px 0 auto;
    }
  }
}