.item_purchase_main {
  width: 100vw;
  height: 1143px;
  background-color: #f8f8f8;

  .item_purchase_logo_box {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
  }

  .item_purchase_main_box {
    width: 700px;
    height: 900px;
    background-color: white;
    margin: 0 auto;
  }

  .item_purchase_main_box_area {
    position: relative;
    height: 745px;
  }

  .item_purchase_main_box_area_title {
    width: 343px;
    height: 34px;
    margin: 0 auto;
    padding: 32px 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: baseline;
    font-size: 24px;
    line-height: 34px;
  }

  h2 {
    font-weight: 600;
  }

  .item_purchase_main_box_area_itemInfo {
    width: 343px;
    height: 81px;
    margin: 0 auto;
    padding: 32px 16px;
    border-top: 1px solid rgb(245, 245, 245);
    border-bottom: 1px solid rgb(245, 245, 245);
  }

  .item_purchase_main_box_area_itemInfo_box {
    height: 81px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .item_img {
    border-radius: 4px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
  }

  .item_info_box {
    width: 247px;
    height: 80px;
    margin-left: 16px;
  }

  .item_name {
    font-size: 14px;
    line-height: 1.4em;
    margin-bottom: 8px;
  }

  .item_price {
    text-align: right;
  }

  .postage {
    font-size: 12px;
  }

  .price {
    font-size: 15px;
    font-weight: 600;
    margin-left: 8px;
  }

  .item_purchase_main_box_area_payment_amount {
    width: 343px;
    height: 80px;
    margin: 0 auto;
    padding: 32px 16px;
    vertical-align: baseline;
    border-bottom: 1px solid rgb(245, 245, 245);
  }

  .payment_amount {
    width: 343px;
    height: 24px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 24px;
  }

  .payment_amount_title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  .payment_amount_price {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  .point_area {
    width: 343px;
    height: 20px;
    display: flex;
    align-items: center;
  }

  .point_area2 {
    width: 295px;
    height: 20px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 5px;
  }

  .possession_points {
    font-size: 14px;
  }

  .item_purchase_main_box_area_payment_method {
    padding: 32px 0;
    text-align: left;
  }

  .payment_method_title {
    max-width: 343px;
    margin: 0 auto;
    padding: 0;
  }

  .payment_method_registration {
    line-height: 1.5;
    text-align: left;
    margin: 8px 0 0;
    font-size: 14px;
  }

  .products-purchase-buy-card-logo {
    margin: 8px 0 0;
  }

  h3 {
    font-size: 14px;
    color: rgb(0, 149, 238);
  }

  .item_purchase_main_box_area_shipping_address {
    // width: 343px;
    // height: 46px;
    // margin: 0 auto;
    padding: 32px 180px;
    text-align: left;
    // vertical-align: baseline;
    // border-bottom: 1px solid rgb(245, 245, 245);
  }

  .shipping_address_title {
    // font-size: 14px;
    padding: 0;
    margin: 0;
    // float: left;
    // font-weight: 600;
    max-width: 343px;
  }

  .shipping_address_title_data {
    font-size: 14px;
    padding: 0;
    margin: 0;
    float: left;
    font-weight: 600;
  }



  .shipping_address_registration {
    font-size: 14px;
    margin: 8px 0 0;
    line-height: 1.5;
    text-align: left;
  }

  .item_purchase_main_box_area_purchase_area {
    width: 343px;
    height: 118px;
    margin: 0 auto;
    padding: 32px 16px;
    vertical-align: baseline;
  }

  h4 {
    font-size: 14px;
    color: rgb(255, 2, 17);
    margin-bottom: 24px;
  }

  .purchase_btn {
    // height: 30px;
    // border-radius: 4px;
    // background: #3CCACE;
    // color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 20px;

    .buy-button {
      height: 30px;
      width: 500px;
      border-radius: 4px;
      background: #3CCACE;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
    }

  }

  h5 {
    align-items: center;
    color: black;
  }

  .item_purchase_space {
    width: 100vw;
    height: 50px;
    background-color: #f8f8f8;
    margin-bottom: 50px;
  }

  .item_purchase_footer {
    width: 100vw;
    height: 220px;
    background-color: grey;
    justify-content: center;
    align-items: center;

    .precautions {
      width: 440px;
      height: 20px;
      padding: 40px 500px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      color: white;
      font-size: 12px;
    }

    .precaution1 {
      color: white;
      font-size: 12px;
    }

    .precaution2 {
      color: white;
      font-size: 12px;
    }

    .precaution3 {
      color: white;
      font-size: 12px;
    }

    h6 {
      color: white;
      font-size: 12px;
    }

    .item_purchase_footer_logo_box {
      height: 50px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    .item_purchase_footer_logo_box_logo {
      width: 200px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    b {
      display: block;
      align-items: center;
      justify-content: center;
      background-color: gray;
    }

    .company_name {
      display: block;
      align-items: center;
      justify-content: center;
      padding-left: 45px;
    }

    h1 {
      color: white;
      justify-content: center;
    }
  }
}

