.content{
  box-sizing: border-box;
  background-color: whitesmoke;
  height: 100%;
  height: 900px;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.new_header {
  background-color: hotpink;
}
.main-profile {
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
}
.main-profile__member-info {
  background-color: white;
  width: 600px;
  margin: 50px auto;
  padding-bottom: 50px;
}
.main-profile__member-info__title {
  height: 30px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px whitesmoke solid;
  padding: 15px;
  font-weight: bolder;
}
.main-profile__member-info__title__input {
  height: 100%;
  padding-left: 160px;
}
.main-profile__member-info__title__input__content1 {
  width: 300px;
  height: 100%;
  margin-top: 50px;
  display: block;
}
.profile-content1 {
  font-size: 16px;
  margin-top: 20px;
}
.profile-content2 {
  font-size: 16px;
  margin-top: 20px;
}
.profile-content3 {
  font-size: 16px;
  margin-top: 20px;
}
.form-group__require{
  background-color: turquoise;
  border: solid 1px turquoise;
  color: white;
}
.family_name-text{
  margin-bottom: 40px;
  border-radius: 5px;
  width: 130px;
  height: 40px;
}
.first_name-text{
  margin-bottom: 40px;
  border-radius: 5px;
  width: 130px;
  height: 40px;
}
.family_name-kana-text{
  margin-bottom: 40px;
  border-radius: 5px;
  width: 130px;
  height: 40px;
}
.first_name-kana-text{
  margin-bottom: 40px;
  border-radius: 5px;
  width: 130px;
  height: 40px;
}
.year{
  margin-bottom: 40px;
  border-radius: 5px;
  width: 80px;
  height: 40px;
}
.month{
  margin-bottom: 40px;
  border-radius: 5px;
  width: 80px;
  height: 40px;
}
.day{
  margin-bottom: 40px;
  border-radius: 5px;
  width: 80px;
  height: 40px;
}
.main-profile__member-info__title__input__content2{
  font-size: 16px;
  margin-top: 20px;
}