.item_detail_header {
  width: 100vw;
  height: 100px;
  background-color: chocolate;
}

.bread-crumbs {
  width: 100vw;
  height: 55px;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;


  ul {
    padding: 17px 0 16px;
    width: 100vw;
    height: 54px;
    max-width: 1020px;
    font-size: 14px;
    margin: 0 auto;
    display: block;
  }

  li {
    padding: 0 10px 0 0;
    float: left;
    font-weight: normal;
  }

  p {
    font-weight: 600;
  }

}

.item_detail_main {
  display: flex;
  width: 100vw;
  height: 2050px;
  justify-content: center;
  padding-top: 50px;
  background-color: #f8f8f8;
}

  .item_detail_main_box {
    display: block;
    width: 700px;
    height: 1554px;
    justify-content: center;
    background-color: #f8f8f8;

    .item_detail_main_itembox {
      display: flex;
      width: 700px;
      height: 1320px;
      justify-content: center;
      position: relative;
      background-color: white;

      .items-show-itemBox__status {
        padding:5px;
        font-weight:bold;
        font-size:80px;
        color:#fff;
        background:#c00;
        text-align: center;
        width: 80%;
        z-index: 2;
        -moz-box-shadow: 1px 1px 2px #333;
        -webkit-box-shadow: 1px 1px 2px #333;
        -moz-transform: rotate(340deg);
        -webkit-transform: rotate(340deg);
        -moz-transition: 0.4s ease-in-out;
        -webkit-transition: 0.4s ease-in-out;
        position: absolute;
        margin-top: 150px;
        margin-left: 30px;
        opacity: 0.7;
      }
    }

      .item_detail_main_itembox_name {
        width: 620px;
        height: 36px;
        display: block;
        position: absolute;
        padding: 24px 40px 0px 40px;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        justify-content: center;

        h1 {
          display: block;
          font-size: 24px;
          font-weight: bold;
        }
      }

      .item_detail_main_itembox_body {
        display: block;
        width: 620px;
        height: 443px;
        margin-top: 76px;
        // justify-content: center;
        // position: absolute;
      
        .item-img {
          // background-image: url(@item);
          // background-size: 100%;
          width: 100%;
          height: 346px;
          display: flex;
          flex-direction: column;
          justify-content: right;
          position: relative;

          .more {
            width: 50px;
            height: 20px;
            position: absolute;
          
            .more_lists {
              display: block;
              width: 50px;
              height: 50px;

              h3 {
                background-color: #3CCACE;
                color: white;
              }

              h4 {
                background-color: #3CCACE;
                color: white;
              }
              

              a {
                color: white;
                background-color: #3CCACE;
              }
              
            }
          }
        }
        .item-img2 {
          display: flex;
          width: 100%;
          height: 87px;
          justify-content: center;
          // margin-top: 190px;

          .itemList-img {
            display: flex;
          }
        }
      }

        .item_detail_main_itembox_price {
          width: 620px;
          height: 77px;
          position: absolute;
          margin: 24px 0 24px;
          text-align: center;
          font-size: 46px;
          font-weight: bold;
          margin-top: 520px;
        }

        .item_detail_main_itembox_price-detail {
          width: 620px;
          display: block;
          position: absolute;
          align-items: center;
          justify-content: center;
          margin-top: 580px;
          text-align: center;
          flex-direction: column;
          font-size: 16px;
        }

        .item_detail_main_itembox_purchase-btn {
          width: 400px;
          height: 0px;
          display: block;
          position: absolute;
          text-align: center;
          align-items: center;
          background-color: white;
          font-size: 18px;
          color: #3cccae;
          margin: 620px 0px 50px 0px;
          padding: 10px 10px 40px 10px;
          border-radius: 20px;
          border: 1px solid #3cccae;
        }

          a {
            text-decoration: none;
          }

          g {
            color: #3CCACE;
            padding-top: 10px;
            text-decoration: none;
          }

          .item_detail_main_itembox_item-detail-comment {
            width: 600px;
            height: 133px;
            display: block;
            position: absolute;
            margin-top: 700px;
          }

          .item_detail_main_itembox_table {
            width: 620px;
            height: 431px;
            display: block;
            position: absolute;
            margin-top: 770px;
          }

          table {
           width: 100%;
           height: 375px;
           border-collapse: collapse;
           border: 1px solid #f8f8f8;

            tbody {
              display: table-row-group;
              vertical-align: middle;
              border-color: inherit;

              tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;

                th {
                  width: 20%;
                  background-color: #eee;
                  font-weight: normal;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }

                td {
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;

                  b {
                    text-decoration: none;
                    color: #3CCACE;
                    font-size: 14px;
                    font-weight: normal;
                  }
                }

                br {
                  font-size: 14px;
                }
              }
            }
          }

        .optionalarea {
          width: 620px;
          height: 48px;
          display: flex;
          justify-content: space-between;
          margin-top: 1240px;

          .optional_likebtn {
            margin-right: auto;
            padding: 10px 10px;
            border-radius: 40px;
            color: #3CCACE;
            text-decoration: none;
            border: 1px solid #ffb340;

            a {
              text-decoration: none;
              color: #3CCACE;
              font-size: 14px;
              font-weight: normal;
            }
          }

          .optional {
            margin: 10px 0 0;
            padding: 8px 10px;
            border-radius: 5px;
            border: 1px solid black;

            a {
              color: black;
            }

            li {
              font-size: 14px;
            }
          }
        }
  }


  .item_detail_main_commentbox {
    width: 652px;
    height: 580px;
    margin: 10px 0px;
    padding: 24px;
    background-color: white;

    .comment_content {
      width: 652px;
      height: 104px;
    }

      ul {
        width: 652px;
        height: 104px;
        display: block;
        list-style-type: disc;
        padding-inline-start: 0px;
      }

        .foom {
          width: 652px;
          min-height: 104px;
          display: flex
        }

          #comment_comment {
            display: flex;
            width: 648px;
            height: 104px;
          }

          .notice_msg {
            margin: 20px 0px;
            background-color: #f8f8f8;
            justify-content: center;
          }

            input {
              width: 200px;
              height: 40px;
              position: absolute;
              margin-top: 20px;
              margin-left: 210px;
              margin-bottom: 20px;
              color: white;
              background-color: #3CCACE;
              border-radius: 40px;
            }

            .comment_btn {
              width: 200px;
              height: 40px;
              position: absolute;
              margin-top: 20px;
              margin-left: 210px;
              margin-bottom: 20px;
              text-align: center;
              color: white;
              background-color: #3CCACE;
              border-radius: 40px;
            }
              
    .line {
      margin-top: 200px;
      width: 652px;
      height: 30px;
      border-bottom: 1px solid black;

      .comments {
        width: 652px;
        height: 400px;
        display: block;
        margin-top: 20px;
      }
    }
  }

.appBanner {
  background-image: url(/bg-appBanner-pict.jpg);
  padding: 180px 0px;
  position: relative;
  background-size: 100%;
  background-position: center;
  width: 100vw;

  .inner {
    width: 100vw;
    height: 160px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
  }

    .inner_title {
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
    }

    .inner_text {
    font-size: 35px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }

    .inner_icon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto 0;
    }

      a {
        margin-right: 10px;
      }
}

.purchaseBtn {
  width: 98px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  justify-content: center;

  .purchaseBtn_text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }

  .purchaseBtn_icon {
    justify-content: center;
    width: 60%;
    padding-left: 20px;
  }
}