.update_main {
  width: 100vw;
  height: 805px;
  background-color: #f8f8f8;

  .update_logo_box {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
  }

  .update_main_box {
    width: 700px;
    height: 407px;
    background-color: white;
    margin: 0 auto;
  }

  .update_main_box_area {
    position: relative;
    height: 357px;
  }

  .update_main_box_area_title {
    width: 668px;
    height: 34px;
    margin: 0 0;
    padding: 32px 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: baseline;
    font-size: 28px;
    line-height: 34px;
    border-bottom: 1px solid rgb(245, 245, 245);
  }
  h1 {
    font-weight: 600;
  }

  .update_main_box_area_payment_method {
    width: 343px;
    height: 46px;
    margin: 0 auto;
    padding: 32px 16px;
    vertical-align: baseline;
    border-bottom: 1px solid rgb(245, 245, 245);
  }

  .update_title {
    display: block;
    font-size: 14px;
    justify-content: center;
  }

  .update_registration {
    font-size: 14px;
    color: rgb(0, 149, 238);
    justify-content: center;
    padding: 0 auto;
  }

  h3 {
    font-size: 14px;
    color: rgb(0, 149, 238);
    text-align: center;
  }

  .update_main_box_area_purchase_area {
    width: 343px;
    height: 118px;
    margin: 0 auto;
    padding: 32px 16px;
    vertical-align: baseline;
  }

  h4 {
    align-items: center;
    margin-bottom: 0;
    color: #888888;
  }

  .back_btn {
    width: 668px;
    font-size: 14px;
    color: rgb(0, 149, 238);
    padding: 60px 0 0 0;
  }

  h2 {
    font-size: 14px;
    color: rgb(0, 149, 238);
  }

  .update_space {
    width: 100vw;
    height: 50px;
    background-color: #f8f8f8;
  }

  .update_footer {
    width: 100vw;
    height: 220px;
    background-color: grey;
    justify-content: center;
    align-items: center;
  }
  .precautions {
    width: 440px;
    height: 20px;
    padding: 40px 500px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 12px;
  }

  .precaution1 {
    color: white;
    font-size: 12px;
  }

  .precaution2 {
    color: white;
    font-size: 12px;
  }

  .precaution3 {
    color: white;
    font-size: 12px;
  }

  h6 {
    color: white;
    font-size: 12px;
  }

  .update_footer_logo_box {
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .update_footer_logo_box_logo {
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  p {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: gray;
  }

  .company_name {
    display: block;
    align-items: center;
    justify-content: center;
  }

  h5 {
    color: white;
    padding-left: 45px;
  }
}