.category-downlists.non-show-list
  .category-downlist 
    .category-downlist__in#oya
      .ones{"data-next" => "1"}
        - Category.roots.each do |category|
          .category-downlist__in__one{"data-id" => "#{category.id}"}
            = link_to category.name, list_from_category_item_path(category.id)
    .category-downlist__in
      .ones{"data-next" => "2"}
    .category-downlist__in
      .ones